*{margin:0;padding:0}
*,:before,:after{box-sizing:inherit}
.clearfix::after{content:"";clear:both;display:table}
.clear{clear:both}
body{background-color:#fff;font-family:"Georgia","Times New Roman",serif;position:relative;overflow-x:hidden;width:100%}
.grid-container{width:1140px;font-family:helvetica,arial,sans-serif;display:grid;grid-gap:2px;grid-template-columns:repeat(12,minmax(0,1fr));grid-template-rows:repeat(0,1fr);background-color:#D3D3D3;margin:auto}
.grid-item1{color:#000;font-size:25px;grid-row:1;display:inline-block;grid-column:1/span 3}
.grid-item2{color:#000;font-size:13px;grid-column:7/span 13;grid-row:1;word-spacing:5px}
a{color:#000;text-decoration:none}
i{font-size:12px;padding:16px}
span{background:#fff;margin:-1.5px}
.fa-search{margin-left:-40px}
.grid-item3{grid-column:1/13;background:url(images/hero.jpg) no-repeat;background-size:cover;grid-row:2}
.main{text-align:center;word-spacing:40px;text-transform:uppercase;font-size:13px}
.main img{width:100%;height:auto;margin-top:25px;max-width:150px}
.main a{word-spacing:1.5px}
.main1{text-align:center;font-size:30px}
.main1 h1{color:orange;font-size:20px}
.main1 h2{color:#000;font-size:40px}
.main1 h3{color:#000;font-size:30px}
.main1 strong{color:orange;font-size:80px}
.main1 h1,h2,h3{line-height:43px}
.touch{display:grid;grid-template-columns:repeat(12,minmax(0,1fr));grid-template-rows:repeat(0,1fr)}
.touch p{width:120px;padding:25px;background:orange;text-align:center;text-transform:uppercase;font-size:10px;font-weight:700;margin-top:100px;margin-right:150px;float:right;grid-column:10/11;grid-row:1}
.touch b{letter-spacing:15px;color:#BDBDBD;text-transform:uppercase;font-size:55px;margin-left:-25px;margin-top:80px;grid-column:2/4;grid-row:1}
.touch i{margin-left:60px;font-size:25px;margin-top:100px;grid-column:6;grid-row:1}
.grid-item4{grid-column:1/13;grid-row:auto}
.design,.design1{padding:20px}
.design h2{font-size:20px;text-align:right;margin-left:-265px}
.design1 h2{font-size:20px;text-align:right;margin-right:105px}
.design p{font-size:10px;text-align:right;line-height:2.5;margin-right:265px}
.design1 p{font-size:10px;text-align:right;line-height:2.5;margin-right:105px}
.line hr{width:50%;margin:auto;margin-top:2%;margin-bottom:5%;margin-left:365px}
.line1 hr{width:70%;margin:auto;margin-top:2%;margin-bottom:5%;margin-right:55px}
.grid-item5{width:100%;grid-column:1/13;grid-row:5}
.img img{float:left;max-width:600px;width:100%;height:auto;display:inline-block;margin-top:22px}
.text{float:right}
.text h3{letter-spacing:4px;line-height:25px;text-transform:uppercase;color:orange;width:500px;font-size:18px}
.text h2{letter-spacing:5px;text-transform:uppercase;font-size:35px}
.text p{font-size:10px;width:400px;line-height:25px}
.text span{padding:15px;background:orange;margin:-1.5px;display:inline-block}
.grid-item6{width:100%;grid-column:1/13;grid-row:6;margin-top:64px}
.img1 img{float:right;max-width:520px;width:100%;height:auto;display:inline-block;margin-top:52px}
.text1{float:left}
.text1 h3{letter-spacing:4px;line-height:25px;text-transform:uppercase;color:orange;width:500px;font-size:16px;text-align:right;margin-left:55px}
.text1 h2{letter-spacing:5px;text-transform:uppercase;font-size:35px;text-align:center;margin-left:180px}
.text1 p{font-size:10px;width:400px;line-height:25px;text-align:right;margin-left:150px}
.text1 span{padding:15px;background:orange;display:inline-block;float:right;margin-right:5px}
.grid-item7{width:100%;grid-column:1/13;grid-row:7;margin-top:44px}
.grid-item8{width:100%;grid-column:1/13;grid-row:8;margin-top:64px}
.grid-item9{width:100%;grid-column:1/13;grid-row:9;background:#fff;margin-top:64px}
.design h2,.design line{width:100%}
.partners img{width:100%;height:auto;max-width:1000px;background:#fff}
.grid-item10{width:100%;grid-column:3/11;grid-row:10}
.grid-item10a{width:100%;grid-column:2;grid-row:10}
.grid-item10b{width:100%;grid-column:12;grid-row:10}
.grid-item10a i,.grid-item10b i{font-size:30px;margin-bottom:70px;margin-top:250px;width:auto;color:grey}
.img3 img{float:left;max-width:200px;width:100%;height:auto;display:inline-block}
.text3 blockquote{font-size:17px;width:500px;line-height:35px;font-style:italic;color:grey;float:right}
.text3 small{color:orange}
cite{font-family:"Snell Roundhand",cursive;font-style:italic;color:#000;font-size:20px;font-weight:900}
.grid-item11{width:100%;grid-column:1/13;grid-row:11;background:#fff}
.img4{display:flex;justify-content:space-around;width:100%}
.img4 img{max-width:250px;width:auto}
.text5{position:relative;display:inline-block}
.text5 h3{text-transform:uppercase;font-size:10px}
.text5 p{font-size:10px;line-height:2}
.text5 i{font-size:10px;padding:20px}
.text5 h2 b{font-size:35px}
.text5 h2{position:absolute;text-align:center;top:0;background:rgba(0,0,0,0.8);font-family:Arial,sans-serif;color:#fff;width:20%;font-size:10px;font-style:italic}
.grid-item12{grid-row:12;grid-column:1/13;display:flex;margin-top:10px}
.grid-item12a{width:30%;margin-left:35px;font-size:12px}
.grid-item12a,.grid-item12b h3{color:#424949;font-size:14px}
.firstpic{display:flex}
.firstpic p{margin-left:10px;margin-top:20px;font-size:13px;color:#424949;text-transform:uppercase;line-height:25px}
.firstpic p i{font-size:8px;color:grey;margin-left:-14px;text-transform:none}
.firstpic h6{display:inline-flex}
.firstpic img{margin-top:10px}
.grid-item12b{width:30%;margin-left:30px}
.grid-item12b i{font-size:14px;font-style:italic}
.instagram i{color:grey;font-size:10px}
.grid-item12c{width:30%}
.text8 p{text-align:right;width:100%;color:grey;font-size:12px;margin-top:13px}
.text8 h2{text-transform:uppercase;text-align:right;font-size:30px;line-height:1.5}
.text8 button{background:#000;padding:5px;font-size:12px;color:#fff;text-transform:uppercase;padding:10px;width:110px}
.text8 input{padding:5px;margin-right:-6px;width:160px;padding:9px;font-size:11px;color:grey;font-style:italic;margin-left:20px}
.grid-item13{grid-row:13;grid-column:1/13;display:flex;background:#2E2E2E;color:#fff;border-bottom:1px solid #fff}
.grid-item13a,.grid-item13b,.grid-item13c{width:32%}
.contact{line-height:2;margin-left:60px;margin-top:50px}
.contact b{letter-spacing:3px}
.contact h3{margin-top:5px}
.contact p{margin-bottom:50px}
.grid-item14{grid-column:1/13;grid-row:14;background:#000}
.smlogo img{margin-left:550px;width:auto}
.smlogo p{color:#fff;margin-left:550px;font-size:10px}
@media only screen and (max-width: 767px) {
.grid-container{width:100%;margin:0;padding:0;overflow-x:hidden}
.grid-item1{grid-column:1/ span 5;font-size:1em}
.grid-item2{grid-column:6/ span 12;font-size:.6em}
.grid-item3,.grid-item4,.grid-item5,.grid-item6,.grid-item7,.grid-item8,.grid-item9,.grid-item10,.grid-item11,.grid-item12
.grid-item12a,.grid-item12b,.grid-item12c,.grid-item13{width:100%}
.touch{grid-column:1/12;margin-top:-40px}
.touch p{grid-column:7/ span 12;padding:15px}
.touch i{grid-column:1;font-size:24px;grid-column:1}
.touch b{grid-column:1/span 3;font-size:23px;margin-left:23px}
.design{width:100%;margin-left:200px}
.line{margin-left:-150px;width:60%}
.main a{display:flex;justify-content:space-around;font-size:1em;margin-top:20px}
.main img{width:35%;margin-top:10px}
.main1{font-size:30px}
.design1{margin-left:100px;width:100%}
.design1 h2{margin-left:-20px}
.line1{margin-left:150px;width:60%}
.grid-item14{grid-column:1/13}
.text,.text1{width:100%}
.text h3{font-size:18px;width:80%;margin-left:10px}
.text p{font-size:15px;width:50%;margin-left:10px}
.text h2{margin-left:10px;font-size:20px}
.text span{margin-left:10px}
.text1 h3{width:80%}
.text1 h2{font-size:15px;text-align:left;margin-left:150px}
.text1 p{width:50%;font-size:15px;text-align:left}
.touch p{margin-right:40px}
.touch a{margin-left:80px}
.touch i{margin-left:100px}
.partners img{width:60%;margin-left:50px}
.grid-item9{margin-left:7px}
.text3 blockquote{width:80%}
.img4{display:grid}
.img3 img{margin-left:20px}
.grid-item10a{grid-column:2;margin-top:180px}
.grid-item10b{grid-column:11;margin-top:180px}
.grid-item12{display:inline-flex;flex-direction:column}
.grid-item12a .firstpic{justify-content:flex-start;width:80%}
.grid-item12b .instagram{width:90%;margin-left:10px}
.grid-item12b h3{margin-left:10px}
.grid-item12c .text8{margin-left:80px;width:60%}
.text8 button{margin-left:40px}
.grid-item13a,.grid-item13b,.grid-item13c{width:30%}
.contact{display:inline-grid;font-size:.6em;margin:auto;margin-left:22px}
.smlogo{width:100%}
.smlogo img{margin-left:140px;font-size:10px}
.smlogo p{margin-left:140px;width:60px}
}